.q-drawer {
  background: var(--chat-dark);
}

.mini-drawer {
  width: 80px;
  background: var(--chat-dark);

  .q-item {
    justify-content: center;
    padding: 8px 0;

    .q-avatar {
      border-radius: 8px;
      overflow: hidden;
    }
  }

  .q-icon {
    cursor: pointer;
  }
}

.main-drawer {
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--chat-primary);

  h6 {
    margin: 0 0 16px 0;
  }

  .q-toolbar {
    flex: 0 0 auto;
  }

  .chat-item {
    margin-bottom: 6px;
    align-items: center;
    justify-content: space-between;
  }

  .online-badge {
    position: absolute;
    top: auto;
    bottom: 2px;
    right: 2px;
    cursor: inherit;

    background-color: var(--chat-positive);
    border-radius: 1em;
  }

  .notification-badge {
    background-color: var(--chat-secondary);
    border-radius: 1em;
  }
}

.q-scrollarea {
  &__thumb {
    width: 3px !important;
    background: rgba(255, 255, 255, 0.7) !important;
  }
}