// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #353941;
$secondary: #5F85DB;
$accent: #90B8F8;
$dark: #26282B;
$dark-page: #121212;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

:root {
    /* 🌞 Light mode */
    --q-color-primary: #ffffff;
    --q-color-secondary: #353941;
    --q-color-accent: #5F85DB;
    --q-color-positive: #21ba45;
    --q-color-negative: #c10015;
    --q-color-info: #31ccec;
    --q-color-warning: #f2c037;
    --q-color-dark: #1d1d1d;
}

.body--dark {
    /* 🌚 Dark mode */
    --q-color-primary: #353941;
    --q-color-secondary: #5F85DB;
    --q-color-accent: #90B8F8;
    --q-color-positive: #21ba45;
    --q-color-negative: #C10015;
    --q-color-info: #31CCEC;
    --q-color-warning: #F2C037;
    --q-color-dark: #121212;
}

.body--dark {
    --chat-primary: #353941;
    --chat-secondary: #5F85DB;
    --chat-accent: #90B8F8;
    --chat-dark: #26282B;
    --chat-positive: #21BA45; // Positive color
    --chat-negative: #C10015; // Negative color
    --chat-info: #31CCEC; // Info color
    --chat-warning: #F2C037; // Warning colors
}

.body--light {
    --chat-primary: #1976d2;
    --chat-secondary: #26a69a;
    --chat-accent: #9c27b0;
    --chat-dark: #1d1d1d;
    --chat-positive: #21ba45; // Positive color
    --chat-negative: #C10015; // Negative color
    --chat-info: #31CCEC; // Info color
    --chat-warning: #F2C037; // Warning colors
}